
.containervm{
    display: flex;
	flex-wrap: wrap; /*Renvoie l'element a la ligne (Responsive) ScrollBar = none*/
	/* justify-content: space-evenly; */
}

header{
    flex-basis: 100%;
}

.sidebarleft{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-basis: 65%;
}
.screenresult{
	display: flex;
}

.image1{
	flex-direction: column;
}

.keepad{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.kp1{
	flex-basis: 20%;
	flex-wrap: wrap;	
}

.kp1_submit{
	flex-basis: 53%;
	flex-wrap: wrap;
}

.kp1_clean{
	flex-basis: 20%;
	flex-wrap: wrap;
}

.sidebarright{
	flex-basis: 29.7%;
}

footer{
	flex-basis: 100%;
	flex-wrap: wrap;
}